body {
  background-color: black;
}
div {
	padding-bottom: 50px;
	text-align:center;
}
img {
	width: 250px;
	height: 250px;
	display: inline
}
h1 {
  font-family: "Courier New";
  color: white;
  text-align: center;
}
table {
  margin-left: auto;
  margin-right: auto;
}
tr, td {
  text-align: center;
  color: white;
  font-family: "Courier New";
  width: 20%;
}
.planetR {
  border-bottom-style: dashed;
  border-bottom-width: 3px;
  border-bottom-color: white;
}
.column {
  border-right-style: dashed;
  border-right-width: 3px;
  border-right-color: white;
}